# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# =====================================================
# IDE
# =====================================================

.vscode/
.idea/

# =====================================================
# Environment Variables
# =====================================================

.env

# =====================================================
# Logs
# =====================================================

*.log

# =====================================================
# Python Cache
# =====================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# =====================================================
# Build Files
# =====================================================

build/
dist/
*.egg-info/

# =====================================================
# Jupyter
# =====================================================

.ipynb_checkpoints/

# =====================================================
# Streamlit
# =====================================================

.streamlit/secrets.toml

# =====================================================
# OS Files
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# Temporary Files
# =====================================================

temp/
tmp/
*.tmp

# =====================================================
# Database
# =====================================================

*.db
*.sqlite3

# =====================================================
# Excel Files (Optional)
# Uncomment if you don't want sample FIU files on GitHub
# =====================================================

 *.xls
 *.xlsx

# =====================================================
# Password / Config
# =====================================================

backend/database/config.py

# =====================================================
# Misc.
# =====================================================

fiu alert.txt
folder and file structure.txt
info.txt
test.py
FIU_1_16Apr25.xlsx